{{ if and .configure.fish .configure.tmux .binaries.tmux -}}
alias tn 'tmux new-session -s "$fish_pid"'

if status is-interactive
    trap 'tmux kill-session -t "$fish_pid" 2>/dev/null' EXIT
end

{{ end -}}

