{{ if .configure.git -}}
[user]
    name = {{ .git.name }}
    email = {{ .git.email }}
    {{- with .gpg.mainKeyId }}
    signingkey = {{ . }}
    {{- end }}

{{ if .gpg.mainKeyId -}}
[commit]
    gpgsign = true

[tag]
    gpgsign = true

{{ end -}}

[init]
    defaultBranch = main

[rebase]
    autoSquash = true

[core]
    autocrlf = input
    {{- if and .configure.vim .binaries.vim }}
    editor = vim
    {{- end }}
    {{- if and .configure.delta .binaries.delta }}
    pager = delta
    {{- end }}

{{ if and .configure.delta .binaries.delta -}}
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    line-numbers = true

{{ end -}}

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    edit = commit --amend
    amend = commit --all --amend --no-edit
    unstage = reset HEAD --
    m = !git checkout $(git rev-parse --abbrev-ref origin/HEAD | sed 's/^origin\\///')
    prm = !git pull -r origin $(git rev-parse --abbrev-ref origin/HEAD | sed 's/^origin\\///')
    new = !git checkout $(git rev-parse --abbrev-ref origin/HEAD | sed 's/^origin\\///') && git pull && git checkout -b
    wip = !git add . && git commit -m 'wip' -n --no-gpg-sign
    unwip = !git reset --soft HEAD^ && git reset HEAD .

[include]
    path = ~/.gitconfig-extension

{{ end -}}

