{{ if .configure.yazi -}}
[[plugin.deps]]
use = "yazi-rs/plugins:git"
rev = "398796d"
hash = "73788c7dc5827ef4677c502c3ea8fa19"

[[plugin.deps]]
use = "yazi-rs/plugins:chmod"
rev = "398796d"
hash = "8da0b15a97b5dfd13941d1ecc617ac7c"

[[plugin.deps]]
use = "yazi-rs/plugins:diff"
rev = "398796d"
hash = "492e4757f332e29f982556bf507e043c"

[[plugin.deps]]
use = "yazi-rs/plugins:full-border"
rev = "398796d"
hash = "3996fc74044bc44144b323686f887e1"

[[plugin.deps]]
use = "yazi-rs/plugins:vcs-files"
rev = "398796d"
hash = "4ee57085277d616acfa0ef1fef37dc00"

[[plugin.deps]]
use = "Lil-Dank/lazygit"
rev = "0e56060"
hash = "ab2e66065a94cca4886b303518e44bd8"

[[plugin.deps]]
use = "yazi-rs/plugins:piper"
rev = "398796d"
hash = "2dd68af59418b631b9703a03f606b31f"

[[plugin.deps]]
use = "peterfication/mux"
rev = "266233e"
hash = "1963dda85333e5e2cb6ff5d7d5a6ad4e"

[[flavor.deps]]
use = "yazi-rs/flavors:catppuccin-frappe"
rev = "9276ffa"
hash = "6f261f00e5235001b8d6bcd7464d3077"

[[flavor.deps]]
use = "yazi-rs/flavors:catppuccin-latte"
rev = "9276ffa"
hash = "525675a9180ed23a097b07399627294a"

[[flavor.deps]]
use = "yazi-rs/flavors:catppuccin-macchiato"
rev = "9276ffa"
hash = "b069dba45e199684b16fa12d385642ed"

[[flavor.deps]]
use = "yazi-rs/flavors:catppuccin-mocha"
rev = "9276ffa"
hash = "b951d27afe197d154f6da9683b46c5f8"

[[flavor.deps]]
use = "yazi-rs/flavors:dracula"
rev = "9276ffa"
hash = "7a870f143a4026a893ea3123be711e7a"
{{ end -}}
