{{ if .configure.bat -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>name</key>
    <string>Catppuccin Frappé</string>
    <key>semanticClass</key>
    <string>theme.dark.catppuccin-frappé</string>
    <key>uuid</key>
    <string>e0ada983-8938-490c-86f0-97a1a0ec58e4</string>
    <key>author</key>
    <string>Catppuccin Org</string>
    <key>colorSpaceName</key>
    <string>sRGB</string>
    <key>settings</key>
    <array>
      <dict>
        <key>settings</key>
        <dict>
          <key>background</key>
          <string>#303446</string>
          <key>foreground</key>
          <string>#c6d0f5</string>
          <key>caret</key>
          <string>#f2d5cf</string>
          <key>lineHighlight</key>
          <string>#414559</string>
          <key>misspelling</key>
          <string>#e78284</string>
          <key>accent</key>
          <string>#ca9ee6</string>
          <key>selection</key>
          <string>#949cbb40</string>
          <key>activeGuide</key>
          <string>#51576d</string>
          <key>findHighlight</key>
          <string>#506373</string>
          <key>gutterForeground</key>
          <string>#838ba7</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string>Basic text &amp; variable names (incl. leading punctuation)</string>
        <key>scope</key>
        <string>text, source, variable.other.readwrite, punctuation.definition.variable</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#c6d0f5</string>
        </dict>
      </dict>
      <!-- ... (rest of theme content truncated for brevity, assuming standard theme structure) ... -->
    </array>
  </dict>
</plist>
{{ end -}}
